.root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    
    width: 100%;
    height: 64px;
    
    position: fixed;    
    left: 0;
    bottom: 0;

    background: rgb(255, 255, 255);
    border-top: 1px solid black;
}

.root a {
    outline: none;
    -webkit-tap-highlight-color: transparent;

    padding: 8px 20px;
    
    color: black;
    
    font-weight: 600;
    text-decoration: none;
}


.activated {
    color: white !important;
    background: black !important;
}