.separator {
    padding: 4px 0;
}

.line {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.labelWrapper {
    text-align: center;

    margin-top: -20px;
}

.label {
    color: rgba(0, 0, 0, 0.5);
    background: white;
    
    font-size: 12px;
    font-weight: 700;
    
    padding: 0 8px;
}

